<h1>新規授業登録フォーム</h1>
<% if flash["alert"].present? %>
  <% flash["alert"].each do |value| %>
    <%= content_tag(:div, value) %>
  <% end %>
    
<% end %>
<%= form_with model: @student, local: true do |form| %>
  <p>
    授業名<br>
    <%= form.text_field :lesson %>
  </p>

  <p>
    教授名<br>
    <%= form.text_field :name %>
  </p>

  <p>
    時間<br>
    <%= form.text_field :date %>
  </p>

  <p>
    備考<br>
    <%= form.text_field :note %>
  </p>

  <%= form.submit "登録" %>
<% end %>
  