
<div class="row">
  <div class="col-md-8">
    <p>
      <b>講義名：<%= @student.lesson %></b>
    </p>

    <p>
      <b>教授名：<%= @student.name %></b>
    </p>

    <p>
      <b>時間：<%= @student.date %></b>
    </p>

    <p>
      <b>備考：<%= @student.note %></b>
    </p>

    <p>
      <%= link_to "編集", edit_student_path(@student) %>
    </p>
  </div>
</div>

<table class="table table-bordered table-striped">
  <div class="col-md-8">
      <% @student.reviews.each do |review| %>
        <li><%= review.body %>- <%= review.created_at %></li>
      <% end %>
  
    
  </div>
</table>



<div class="form-inline float-right mb-8">
  <h3>投稿</h3>
  <%= render partial: 'new_review', locals:{review: @student.reviews.new} %>
</div>

